.vspTable {   
   border-collapse:collapse;
   border:0px solid #000000;
   width:100%;
   border-collapse:collapse;
   border-spacing: 2px;
      padding: 0px;
}

.vspTableHeader {
   text-align:left;
   background:none repeat scroll 0 0 #f9f9f9;
   border-bottom:1px solid #000000;  
   border-spacing: 2px;
}

.vspTableOddRow {
   text-align:left;
   background:none repeat scroll 0 0 #FFFFFFF;	
   padding: 0px;
   
}

.vspTableEvenRow {
   text-align:left;
   background:none repeat scroll 0 0 #f9f9f9;
   padding: 0px;
}