
.vspTable {   
 table {  
    color: #333; /* Lighten up font color */
    font-family: Helvetica, Arial, sans-serif; /* Nicer font */
    width: 640px; 
    border-collapse: 
    collapse; border-spacing: 0; 
}

td, th { border: 1px solid #CCC; height: 30px; } /* Make cells a bit taller */

th {  
    background: #F3F3F3; /* Light grey background */
    font-weight: bold; /* Make sure they're bold */
}

td {  
    background: #FAFAFA; /* Lighter grey background */
    text-align: center; /* Center our text */
}
}

.vspTableHeader {
   text-align:left;
   background:none repeat scroll 0 0 #f9f9f9;
   border-bottom:1px solid #000000;  
   border-spacing: 2px;
}

.vspTableOddRow {
   text-align:left;
   background:none repeat scroll 0 0 #FFFFFFF;	
   padding: 0px;
   
}

.vspTableEvenRow {
   text-align:left;
   background:none repeat scroll 0 0 #f9f9f9;
   padding: 0px;
}